body{
	background-image: url("img.jpg");
	background-size: 100%;
	text-align: center;
	
	font-size: 60px;
	
	
}
.title{
	    font-size: 30px;
        text-align: center;
}
input{
	front-size : 30px;
}

#rental{ // pour un attribut
	background: red;   
}
. // pour une classe
.model{
	
}

#compute{
	
	height: 150%;
	background: gray;
}
#rental.begin{
	
}


// Bootstrap css
// Materialize CSS